This worker currently uses the hardcoded CAMUNDA_CONFIG object at the top of worker.js.

Paste your Camunda Console API client values there:

ZEEBE_REST_ADDRESS
ZEEBE_GRPC_ADDRESS
ZEEBE_CLIENT_ID
ZEEBE_CLIENT_SECRET
CAMUNDA_OAUTH_URL
